
<!DOCTYPE html>

<html lang="en">


<head>
    <title>@ViewData["Title"] - Global Energy Insights</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    

    <link rel="stylesheet" href="~/lib/node_module/bootstrap/dist/css/bootstrap.min.css">
    <link href="~/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/node_module/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/node_module/bootstrap-social/bootstrap-social.css">
</head>

<body>

    
    <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand mr-auto" href="#"><img src="~/img/logo.png" height="30" width="41"></a>
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"> <span class="fa fa-home fa-lg"> </span>Home</a> </li>
                    <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "RenewableResources" ? "active" : "")"><a class="nav-link" asp-area="" asp-controller="RenewableResources" asp-action="Index"> <span class="fa fa-list fa-lg"> </span>Renewable Resources</a> </li>
                    <li class="nav-item" @(ViewContext.RouteData.Values["Controller"].ToString() == "NonRenewableResources" ? "active" : "")><a class="nav-link" asp-area="" asp-controller="NonRenewableResources" asp-action="Index"> <span class="fa fa-list fa-lg"> </span>Non Renewable Resources</a> </li>
                    <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "TotalEnergyProduction" ? "active" : "")"><a class="nav-link" asp-area="" asp-controller="TotalEnergyProduction" asp-action="Index"> <span class="fa fa-list fa-lg"> </span>Total Energy Production</a> </li>
                    <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "AboutUs" ? "active" : "")"><a class="nav-link" asp-area="" asp-controller="AboutUs" asp-action="Index"> <span class="fa fa-info fa-lg"> </span>About Us</a> </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header -->
    <header class="jumbotron">
        <div class="container">
            <div class="row row-header">
                <div class="col-12 col-sm-6">
                    <h1>@ViewData["header"]</h1>
                    <p>@ViewData["header_content"]</p>
                </div>
                <div class="col-6 col-sm-6 text-right align-self-center">
                    <img src=@Url.Content(ViewBag.LogoPath) class="img-fluid">
                </div>
            </div>
        </div>
    </header>

    <div class="container">

        <main role="main" class="pb-3">

            @RenderBody()

        </main>

    </div>

    <!-- Footer 
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-4 offset-1 col-sm-2">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Renewable Resources</a></li>
                        <li><a href="#">Non Renewable</a></li>
                        <li><a href="#">Total Energy</a></li>
                        <li><a href="#">About us</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-4 align-self-center">
                    <div class="text-center">
                        <p>Conserving Today, Sustaining Tomorrow: Powering a Greener Future</p>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-auto">
                        <p>© Copyright 2024 Global Energy Insights</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>-->
    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-4 offset-1 col-sm-2">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li><a href="@Url.Action("Index", "RenewableResources")">Renewable Resources</a></li>
                        <li><a href="@Url.Action("Index", "NonRenewableResources")">Non Renewable</a></li>
                        <li><a href="@Url.Action("Index", "TotalEnergy")">Total Energy</a></li>
                        <li><a href="@Url.Action("Index", "AboutUs")">About us</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-4 align-self-center">
                    <div class="text-center">
                        <p>Conserving Today, Sustaining Tomorrow: Powering a Greener Future</p>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-auto">
                        <p>© Copyright 2024 Global Energy Insights</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
