@model IEnumerable<Energy_Insights.Models.EnergyGenerationModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Admin Opeartion</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Energy Generation Amount
            </th>
            <th>
                Country Name
            </th>
            <th>
                Energy Category
            </th>
            <th>
               Energy Source
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnergyType.Category)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnergyType.Name)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
